openapi: 3.2.0
info:
  title: Nudge Security User Groups API
  description: The Nudge Security REST API enables programmatic access to retrieve data about apps, accounts, OAuth grants, security events, fields, users, user groups, labels, notifications, findings, playbooks, app-to-app integrations, app instances, AI sessions and prompts, and the browser extension.
  version: '1.0'
  contact:
    name: Nudge Security
    url: https://help.nudgesecurity.com/
servers:
- url: https://api.nudgesecurity.io/api/1.0
  description: Production
security:
- bearerAuth: []
tags:
- name: User Groups
  description: Search and retrieve user groups and their members.
paths:
  /user-groups:
    get:
      tags:
      - User Groups
      summary: Search user groups
      parameters:
      - $ref: '#/components/parameters/Page'
      - $ref: '#/components/parameters/PerPage'
      - $ref: '#/components/parameters/Search'
      responses:
        '200':
          description: A paginated list of user groups.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedList'
      operationId: getUserGroups
      x-operation-id-source: derived
  /user-groups/{group_id}/members:
    get:
      tags:
      - User Groups
      summary: List user group members
      parameters:
      - name: group_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Members of the group.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedList'
      operationId: getUserGroupsByGroupIdMembers
      x-operation-id-source: derived
components:
  schemas:
    PaginatedList:
      type: object
      properties:
        data:
          type: array
          items:
            type: object
        page:
          type: integer
        per_page:
          type: integer
        total:
          type: integer
  parameters:
    Search:
      name: search
      in: query
      required: false
      schema:
        type: string
    PerPage:
      name: per_page
      in: query
      required: false
      schema:
        type: integer
        minimum: 1
        maximum: 200
        default: 50
    Page:
      name: page
      in: query
      required: false
      schema:
        type: integer
        minimum: 1
        default: 1
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: API Token
externalDocs:
  description: Nudge Security API Reference
  url: https://nudgesecurity.readme.io/reference
