openapi: 3.1.0
info:
  title: Nudge Security Accounts Labels API
  description: The Nudge Security REST API enables programmatic access to retrieve data about apps, accounts, OAuth grants, security events, fields, users, user groups, labels, notifications, findings, playbooks, app-to-app integrations, app instances, AI sessions and prompts, and the browser extension. It supports integration with SIEM, SOAR, and ticketing systems and allows management of custom fields and classifications. The API is rate limited to 1200 requests per 5-minute period. API tokens auto-expire after 4 weeks of no use.
  version: '1.0'
  contact:
    name: Nudge Security
    url: https://help.nudgesecurity.com/
servers:
- url: https://api.nudgesecurity.io/api/1.0
  description: Production
security:
- bearerAuth: []
tags:
- name: Labels
  description: Manage labels used to classify apps and accounts.
paths:
  /labels:
    get:
      tags:
      - Labels
      summary: Search labels
      responses:
        '200':
          description: A list of labels.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedList'
    post:
      tags:
      - Labels
      summary: Create label
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - name
              properties:
                name:
                  type: string
                color:
                  type: string
      responses:
        '201':
          description: The created label.
          content:
            application/json:
              schema:
                type: object
components:
  schemas:
    PaginatedList:
      type: object
      properties:
        data:
          type: array
          items:
            type: object
        page:
          type: integer
        per_page:
          type: integer
        total:
          type: integer
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: API Token
externalDocs:
  description: Nudge Security API Reference
  url: https://nudgesecurity.readme.io/reference
